body, p, input, button, textarea{
	font-family: var(--custom-font-family);
	font-style: normal;
}
h1, h2, h3, h4, h5{
	font-family: var(--custom-font-family-rubik);
	font-optical-sizing: auto;
	font-style: normal;
	line-height: normal;
}

.main-header { background-color: #134787; padding: 14px 0 10px; position: relative; }
.main-header .header-content { display: flex; align-items: center; justify-content: space-between; }
.main-header .logo img { height: 80px; }
.main-header .contact a{ display: flex; align-items: center; line-height: normal; gap: 10px; }
.main-header .contact span {color: #fff; font-family: var(--custom-font-family-rubik); font-size: 20px; font-style: normal; font-weight: 700; line-height: normal;}
.main-header .contact a:hover span{color:#94D146}
.main-header .bottom-line { height: 8px; margin-top: 10px; background: linear-gradient(90deg, #94D146 0%, #619223 100%); }
@media (max-width: 600px) {
	.main-header .contact {
		margin-top: 8px;
	}
}


/* .bnr{position:relative;background:url(../images/banner-bg.webp) no-repeat center /cover; display:flex;justify-content:center;align-content:center;flex-direction:column; padding: 50px 0;background-color: #0a0a0a;content-visibility: auto;} */
.bnr .grid-x{align-items: center;}
.bnr:before{content: ""; height: 100%; width: 100%; background: linear-gradient(90deg, rgba(0, 70, 102, 0.90) 0%, rgba(20, 85, 114, 0.66) 44.23%, rgba(22, 157, 219, 0.00) 100%); position: absolute; top: 0; left: 0; z-index: 0;}
.bnr .content{position: relative; z-index: 1;}
.bnr h1{ font-size: 80px; font-weight: 700;	line-height:1.1; color: #94D146; margin-bottom:10px; }
.bnr h2{ color: #FFF; font-family: Ubuntu; font-size: 32px;	font-weight: 700; letter-spacing: 1px; }
.bnr h3{ color:#FFF; font-size: 40px; font-weight: 600; }
.bnr ul li{ color: #D4F2FF; font-size: 22px; font-weight: 300; letter-spacing: 1px; }
.bnr p{font-family:'Lora', serif;font-size:22px;color:#fff}
.bnr .cont1 a{font-size:20px;font-weight:700;color:#dd240d;width:226px;padding:23px 0;background:#fff;display:inline-block;text-align:center;transition:1s;margin-top:26px}
.bnr .cont1 a:hover{background:#ff6600;color:#fff;}
.bnr .bnr-img{width:100%;display:none}

.formwrapper{ border: 8px solid #F0FAFF; background: rgba(255, 255, 255, 0.65); backdrop-filter: blur(4px);	padding: 36px 36px 28px 36px;}
.formwrapper h2{ color: #1F1F1F; font-size: 36px; font-weight: 700; line-height: normal; width: 82%; font-family: var(--custom-font-family-rubik); }

@media (min-width: 1921px) {
	.bnr { min-height: auto; padding: 150px 0;}
	.section6 img {
		max-height: 1016px;
		object-fit: contain;
	}
	.section7 img {right: auto!important;}
}
@media (max-width: 1160px) {
	.bnr h1{ font-size: 72px;}
	.bnr h2{ font-size: 30px; }
	.bnr h3{ font-size: 38px; }
}
@media (max-width: 1023px) {
	.bnr .content .txt{
		width: 99%;
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 40px 0 30px;
	}
	.bnr ul li{ list-style-position: inside; }
	.formwrapper { width: 70%; margin: 0 auto 40px;}
	.formwrapper h2 { width: auto; text-align: center; font-size: 30px;}
}
@media (max-width: 767px) {
	.bnr h1{ font-size: 52px;}
	.bnr h2{ font-size: 24px; }
	.bnr h3{ font-size: 32px; }
	.bnr ul li {font-size: 18px;}
	.formwrapper { width: 100%; }
	.formwrapper h2 { font-size: 26px; }
}
@media (max-width: 480px) {
	.bnr h1{ font-size: 42px;}
	.bnr h2{ font-size: 20px; }
	.bnr h3{ font-size: 26px; }
	.formwrapper h2 { font-size: 24px; }
}

form#gform_1 {
	/*
  --accent-green: #8cc63f;
  --accent-green-dark: #7ab639;
  --input-bg: #ffffff;
  --panel-bg: rgba(238, 249, 255, 0.86);
  font-family: 'Poppins', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  max-width: 640px;
  margin: 24px auto;
  position: relative;
  */
}


#gform_1 .gform_body {
  display: block;
  gap: 18px;
}

#gform_1 .gform_fields {
  row-gap: 18px;
}

#gform_1 #field_1_1,
#gform_1 #field_1_3 {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}


#gform_1 .ginput_container input[type="text"],
#gform_1 .ginput_container input[type="email"],
#gform_1 .ginput_container input[type="tel"],
#gform_1 .ginput_container .datepicker,
#gform_1 .ginput_container textarea {
	/*
  -webkit-appearance: none;
  appearance: none;
  display: block;
  */
  width: 100%;
min-width: 100%;
/*
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
  display: flex; */
height: 60px;
border: 1px solid #F0F1F4;
/*
padding: 19px 16px;
align-items: center;
flex-shrink: 0;
align-self: stretch;
  border-radius: 4px;

	background: #FFF;
	*/
}

#gform_1 textarea {
  min-height: 160px;
  padding: 14px 16px;
  resize: vertical;
  line-height: 1.45;
}

#gform_1 ::placeholder { color: #b9c0c6; font-weight: 400; }

#gform_1 input:focus,
#gform_1 textarea:focus {
	outline: none;
	/*
  
  border-color: var(--accent-green);
  box-shadow: 0 0 0 6px rgba(140,198,63,0.09);
  transform: translateY(-1px);
  */
}

#gform_1 .ginput_container_date { position: relative; }
#gform_1 .ginput_container_date input { padding-right: 48px; }
#gform_1 .ginput_container_date img.ui-datepicker-trigger {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  opacity: 0.9;
  pointer-events: none;
}

#gform_1 fieldset#gfield_1_7,
#gform_1 #field_1_7,
#gform_1 .gfield_radio {
  margin: 6px 0;
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

#gform_1 .gchoice input[type="radio"] {
  position: absolute;
  width: 18px;
  height: 18px;
  margin: 0;
  padding: 0;
  opacity: 0;
  z-index: 2;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

#gform_1 .gchoice label {
  position: relative;
  padding-left: 26px;
  cursor: pointer;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  
  color: var(--Gray-800, #25262A);
font-family: Ubuntu;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 125% */
}

#gform_1 .gchoice label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid rgba(34,34,34,0.24);
  box-shadow: 0 1px 2px rgba(0,0,0,0.04);
  transition: all .16s ease;
}

#gform_1 .gchoice label::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  left: 4px;
  top: 50%;
  transform: translateY(-50%) scale(0);
  border-radius: 50%;
  background: #fff;
  transition: transform .12s ease;
  box-shadow: 0 0 0 3px rgba(140,198,63,0.08);
}

#gform_1 .gchoice input[type="radio"]:checked + label::before {
  background: var(--accent-green);
  border-color: var(--accent-green);
  box-shadow: 0 4px 10px rgba(138,193,55,0.18);
}
#gform_1 .gchoice input[type="radio"]:checked + label::after {
  transform: translateY(-50%) scale(1);
  background: #fff;
}

#gform_1 .gchoice input[type="radio"]:focus + label::before {
  box-shadow: 0 0 0 5px rgba(140,198,63,0.12);
}

#gform_1 .gfield_radio .gchoice label { margin-right: 0; margin-left: 0; }

#gform_1 .gform_footer {
  margin-top: 26px;
  text-align: center;
}

#gform_1 .gform_button {
  width: 100%;
  background: #085db5;
    display: flex;
    height: 56px;
    padding: 15px 40px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    color: var(--Neutral-white, #FFF);
    text-align: center;
    font-family: var(--custom-font-family-rubik);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
}


#gform_1 .gform_button:hover { background: #94D146; }

@media (max-width: 767px) {
	form#gform_1{
		margin: 0 auto;
	}
	#gform_1 {
		padding: 10px 22px;
		max-width: 100%;
		margin: 18px;
	}
	.formwrapper { padding: 36px 10px 28px 10px; }
}
@media (max-width: 720px) {
  #gform_1 #field_1_1,
  #gform_1 #field_1_3 { width: 100%; display: block; margin-right: 0; }
  #gform_1 .gform_title { font-size: 26px; }
}





.body .grid-container{max-width: 1240px;}

.section1{background-color:#1758A1; padding-top: 80px; padding-bottom: 320px; background-image: url(../images/blue-building.webp); background-position: left bottom; }
.section1 .grid-container{max-width: 1280px;}
.section1 h2{color: #FFF; text-align: center; font-size: 40px; font-weight: 700; margin-bottom: 40px; }
.section1 .box3_wrap{display: flex; gap: 30px; margin-bottom: 70px; flex-wrap: wrap; justify-content: center; }
.section1 .box3_wrap .box{position: relative; text-align: center; 
padding: 0px 50px 0px 4px; width: 394px;
height: 200px;
}
.section1 .box3_wrap .box:after{content:""; background-image:url(../images/coupon-afterbox.webp); height: 100%; width:48px; position: absolute; right: 0; top: 0;}
.section1 .box3_wrap .box .txtwrap{width: 80%; margin-left: auto; margin-right: auto;}
.section1 .box3_wrap .box h3{
	color: #FFF;
	text-align: center;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1px;
}
.section1 .box3_wrap .box p{
	color: #FFF;
	text-align: center;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 0;
}
.section1 .box3_wrap .box .txtbox{
	/* border: 2px dashed #fff; */
	border-radius: 2px;
    margin: 0 4px 0 0;
    padding: 26px 6px;
	height: 100%;
	width: 343px;
	background-image: url(../images/coupon-bg.webp);
	background-position: top center;
    background-size: cover;
	background-repeat: no-repeat;
}
.section1 .box3_wrap .box h3:after{content: ""; width: 127px; height: 6px; background: #1F6EC7; display: block;  margin: 10px auto 14px; }

.btn-wrap{display: block;}
.btn-wrap .btn{
height: 56px;
padding: 15px 40px;
align-items: center;
background: #085db5;
color: #FFF;
font-family: var(--custom-font-family-rubik);
font-size: 20px;
font-weight: 700;
letter-spacing: 1px;
}
.btn-wrap .btn:hover{
	background: #94D146;
}

@media (max-width: 1023px) {
	.section1 { padding-top: 50px; padding-bottom: 60px;}
	.section1 h2 { font-size: 34px;	}
	.section1 .box3_wrap .box h3 { font-size: 18px; }
	.section1 .box3_wrap { flex-wrap: wrap; justify-content: center; }
}
@media (max-width: 767px) {
	.section1 .box3_wrap .box p { font-size: 16px; }
	
	.btn-wrap .btn {padding: 15px 30px;}
}
@media (max-width: 420px) {
	.section1 .box3_wrap .box {
		padding: 0;
		width: 290px;
		height: auto;
	}
	.section1 .box3_wrap .box:after {
		width: 0;
	}
	.section1 .box3_wrap .box .txtbox {
		width: auto;
		background-size: contain;
	}
	.btn-wrap .btn{
		font-size: 16px;
	}
}


.section2{background: #F0F1F4; margin-bottom: -200px;}	
.section2 .grid-container{position: relative; padding: 8px; top: -200px; background: #fff; border-radius: 6px;}
.section2 .content-wrap{border: 8px solid #F0F1F4; background: #FFF; min-height: 338px; display: flex; align-items: center;}
.section2 .txtwrap{ display: flex; flex-wrap: wrap; gap: 30px; padding: 20px 0; justify-content: center;}
.section2 .txtwrap .txt{ width: 94%; }
.section2 h2{
	color: #134787;
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 40px;
}	
.section2 h2 span{
	color: #1F1F1F;
	font-size: 24px;
	font-weight: 700;
	display: block;
}
.section2 .mgvan{position: absolute; top: 0; right: 0;}
.section2 .mgvan img{}

@media (max-width: 1023px) {
	.section2 {margin-bottom: 0;}
	.section2 .grid-container{top:0;}
	.section2{text-align: center;}
	.section2 .mgvan { position: relative; right: -20px; text-align: right; }
	.section2 .txtwrap .txt {width: 100%; padding: 20px 0 40px; }
	.section2 h2 { font-size: 34px; }	
	.section2 h2 span { font-size: 22px; }
}


.section3{background: #F0F1F4; padding: 60px 0;}
.section3 h2{ color: #1F1F1F; font-size: 40px; font-weight: 700; }


.collage {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: 200px;
	grid-gap: 15px;
	margin: 14px auto;
	padding: 10px;
	grid-auto-flow: dense;
}
.collage-item:nth-child(1) {
	grid-row: span 2; /* Repair */
}
.collage-item:nth-child(3) {
	grid-row: span 2; /* Maintenance */
}
.collage-item {
	position: relative;
	overflow: hidden;
	background: #134787;
}
.collage-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	filter: brightness(70%);
	transition: transform 0.3s ease;
}
.collage-item:hover img { transform: scale(1.05); }
.collage-item span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--Neutral-white, #FFF);

text-shadow: 0 4px 12px rgba(0, 0, 0, 0.10);

font-size: 32px;

font-weight: 700;

letter-spacing: 1px;

	text-align: center;
	text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
	pointer-events: none;
}

@media (max-width: 1023px) {
	.section3 h2{ font-size: 34px; }
	.collage-item span { font-size: 26px; }
}
@media (max-width: 768px) {
	.collage {
		grid-template-columns: 1fr;
		grid-auto-rows: auto;
	}
	.collage-item:nth-child(1),
	.collage-item:nth-child(3) {
		grid-row: span 1;
	}
}


.section4{background:#134787; padding:60px 0;}
.section4 h2{color: #94D146;
text-align: center;
font-size: 40px;
font-weight: 700;
}

.grid-box {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
      margin-top: 30px;
	  row-gap: 0px;
    }

   .grid-box .card {
      background: white;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      box-shadow: 0 2px 8px rgba(0,0,0,0.1);
	  border: 1px solid #134787;
    }

    .grid-box .card img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      display: block;
    }

    .grid-box .card-content {
      padding: 15px 20px;
    }

    .grid-box .card h3 {
      margin: 0 0 10px;
	  padding: 8px 0;
      font-size: 28px;
	  color: #041F3F;
	font-weight: 600;
		letter-spacing: 1px;
    }

    .grid-box .card hr {
      border: 0;
    height: 6px;
    width: 100%;
    background: #134787;
    margin: 10px 0 10px -20px;
    }

    .grid-box .card p {
      margin: 0;
		padding: 10px 0;
      color: #585F73;
	font-size: 19px;
font-weight: 400;
line-height: 1.6;
letter-spacing: 1px;
    }

@media (max-width: 1023px) {
	.section4 h2{ font-size: 34px; }
	.grid-box .card h3 { font-size: 22px; }
	.grid-box .card p {font-size: 17px;}
}

@media (max-width: 768px) {
	.grid-box {
		grid-template-columns: 1fr;
	}
	.grid-box .card img {
		height: auto;
	}
}


.section5{padding:60px 0; background: #F0FAFF;}
.section5 h2{color: #1F1F1F;
text-align: center;
font-size: 40px;
font-weight: 700;
}

.testimonials {
      display: flex;
      justify-content: center;
      gap: 20px;
      margin: 40px auto 0;
      flex-wrap: wrap;
    }

.testimonials .box {
      background: #fff;
      padding: 36px 34px 50px;
      width: 390px;
	  border: 1px solid #F0F1F4;
      box-shadow: 0 4px 12px rgba(0,0,0,0.08);
      position: relative;
	  margin-top: 30px;
    }
.testimonials .box:before{
	content: "";
	width: 98%;
    height: 97%;
    border: 10px solid #F0F1F4;
    position: absolute;
    top: 4px;
    left: 4px;
}

.testimonials .box .avatar {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      width: 90px;
      height: 90px;
      border-radius: 50%;
      border: 6px solid #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      font-size: 1.2rem;
      color: #fff;



text-edge: cap;
font-size: 48px;
font-weight: 700;
line-height: 24px;
letter-spacing: 1px;
      overflow: hidden;
	  
    }

.testimonials .box .avatar img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
	  border: 8px solid #F0F1F4;
    }
.testimonials .box .txtwrap{
	position: relative;
	z-index: 2;
}
.testimonials .box h3 {
      margin: 40px 0 10px;
	  color: #1F1F1F;
		font-size: 28px;
font-style: normal;
font-weight: 700;
letter-spacing: 1px;
    }

.testimonials .box p {
      line-height: 1.4;
      margin-bottom: 15px;
	  color: #585F73;
font-size: 16px;
font-weight: 400;
letter-spacing: 1px;
    }

.testimonials .box a {
      text-decoration: none;
      transition: color 0.2s ease;
	  color: #085db5;
font-family: var(--custom-font-family-rubik);
font-size: 20px;
font-weight: 700;
line-height: 24px; /* 120% */
letter-spacing: 1px;
    }

.testimonials .box a:hover {
      color: #085db5;
    }

 
    @media (max-width: 900px) {
	.testimonials .box {
        width: 100%;
        max-width: 500px;
      }
    }

@media (max-width: 1023px) {
	.section5 h2 { font-size: 34px;}
	.testimonials .box h3 { font-size: 24px; }
	.testimonials .box a { font-size: 18px; }
}


.section6{position: relative;}
.section6 h2{
	color: #1F1F1F;
text-shadow: 0 4px 12px rgba(0, 0, 0, 0.11);
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
position: absolute;
top: 0;
    padding: 100px 0 0; z-index: 1;
}
.section6 img{width: 100%;}

@media (max-width: 1023px) {
	.section6 img{
		min-height: 400px;
		object-fit: cover;
		object-position: 63%;
	}
	.section6 h2 {
		font-size: 28px;
		padding: 30px 0 0;
		width: 96%;
        text-align: center;
	}
}




.section7{position: relative;}
.section7:before{content: ''; height: 100%; width: 70%; position: absolute; top: 0; left: 0; z-index: 2; background: linear-gradient(270deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.36) 19.71%, #FFF 50.96%);}
.section7 .contentwrap{min-height: 433px; align-items: center;}
.section7 .txt-content{position: relative; z-index: 2;}
.section7 .txt-content .btn-wrap{margin-top: 30px;}
.section7 h2{color: #134787;
	font-size: 32px;
font-weight: 700;
position: relative;
}
.section7 h2 span{color: #1F1F1F;
	font-size: 24px;
	font-weight: 500;
	display: block;
}
.section7 img{    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 1;
	}
	
	@media (max-width: 1630px) {
		.section7 img {}
	}
	@media (max-width: 1023px) {
		.section7 { text-align: center; }
		.section7:before { width: 0;}
		.section7 .txt-content { padding: 40px 0; }
		.section7 h2 {font-size: 28px; }
		.section7 h2 span {font-size: 22px;}
		.section7 img { position: relative; }
		.section7 .mobileright{text-align: right;padding-right: 0;}
		.section7 .mobileright img{}
	}




 .logo-footer {
      background-color: #061530; /* same navy shade */
      width: 100%;
      text-align: center;
      padding: 60px 0;
    }

    .logo-footer img {
      width: 220px; /* adjust based on your image */
      height: auto;
      display: inline-block;
    }
.logo-footer a{color:#94D146}
.logo-footer a:hover{text-decoration: underline;}

    @media (max-width: 768px) {
      .logo-footer {
        padding: 40px 0 60px;
      }
      .logo-footer img {
        width: 160px;
      }
    }



.mobile-button{display:none;
	position: fixed;
	bottom: 0;
	width: 100%;
	justify-content: center;
	z-index: 3;
	margin-bottom: 10px;
}
.mobile-button .phone a{background:#061530;padding:10px;display: block;
    border-radius: 10px;}
@media (max-width: 768px) {
	.mobile-button{display:flex;}
}

/* image lazy */
img.lazyload {
  opacity: 0;
  filter: blur(4px);
  transition: opacity 0.4s ease, filter 0.4s ease;
}

img.lazyloaded {
  opacity: 1;
  filter: blur(0);
}

